@import '/src/variables.scss';

.button-component {
  background-color: $primary;
  font-size: 24px;
  color: $white;
  border: none;
  width: 70%;
  border-radius: 4px;
  padding: 16px;
  margin-top: 20px;
  cursor: pointer;
}

.small {
  padding: 8px;
  font-size: 16px;
  width: 50%;
}
